<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		  <% for i in 1..5 %>
		    <a class="panel-block">Trend <%= "#{i}" %></a>
		  <% end %>
	</nav>
</div>